body{
    margin:0px;
    padding:0px;
    background-color:#1a1a1a;
}

.background{
    height:100%;
    width:100%;
}

.topbar{
    width:100%;
    height:8%;
    min-height:100px;
    color:white;
    background-color:#111111;
    position:fixed;
    box-shadow:0px 5px 8px black;
    text-align: center;
    z-index: 1000;
}

.member{
    font-family:"Helvetica";
    font-size:60px;
    color:dimgray;
}

.site_name{
    height:80%;
    width:25%;
    margin:auto;
    background-repeat: no-repeat;
    background-image:url(assets/title-white.svg);
}

.grid-container{
    width:80%;
    height:80%;
    margin:5% 10%;
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
}

.look{
    height:200;
    width:200px;
    border-radius: 50%;
    margin:0px auto;
    background-image:url(assets/mugshot/straight.png);
    background-size:cover;
    filter:grayscale(100);
    margin:0px 3%;
}

.look:hover{
    background-image:url(assets/mugshot/straight.png);
}

.box-container{
    width:95%;
    height:100%;
    display:flex;
    flex-wrap:wrap;
    margin:auto;
}

.article{
    width:23%;
    background-color:e6e6e6;
    margin:8% auto;
    height:75%;
    box-sizing: content-box;
    box-shadow: 5px 5px 5px black;
    overflow:hidden;
}

.article-title{
    font-size:40px;
}

.article:hover{
    height:76%;
    width:24%;
}

.picture{
    width:100%;
    height:40%;
}

#abhijith{
    background-image:url(assets/guitarist-of-greyscale-photo-210922.jpg);
    background-size:cover;
}

#nived{
    background-image:url(assets/photography-of-roadway-during-dusk-1034662.jpg);
    background-size:cover;
}

#harshitha{
    background-image:url(assets/garden-path-way-park-2122.jpg);
    background-size:cover;   
}

#sreeroop{
    background-image:url(assets/two-alien-inside-car-wallpaper-365625.jpg);
    background-size:cover;   
}

.content-container{
    width:90%;
    background-color:e6e6e6;
    height:63%;
    margin:auto;
    transform:translateY(-10%);
}

.one-liner{
    font-size:25px;
}

.reporter{
    margin:4% 0px;
    font-size:25px;
    font-weight: bold;
}

.footer{
    color:white;
    font-size:20px;
    width:100%;
    height:5%;
    margin-bottom: 0px;
    min-height: 50px;
    background-color: #111111;
    position:fixed;
    left:0px;
    bottom:0px;
    box-shadow:0px -3px 8px black;
}

.footer_text{
    color:white;
    text-decoration: none;
    font-family:"Helvetica";
    text-align: center;
    top:-50%;
    transform: translateY(50%);
}